<launch>

  <!-- launches the basic turtlebot3 world with one basic turtlebot -->
  <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch">
    <arg name="model" value="waffle"/>
  </include>

  <!-- launch the navigation stack with test maps -->
  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
    <arg name="map_file" value="$(find free_fleet_client_ros1)/test_maps/maps.yaml"/>
  </include>

  <!-- launch the free fleet client first -->
  <node name="turtlebot3_free_fleet_client_node" pkg="free_fleet_client_ros1"
      type="free_fleet_client_ros1" output="screen">
    <param name="fleet_name" type="string" value="turtlebot3"/>
    <param name="robot_name" type="string" value="turtlebot3_1"/>
    <param name="dds_domain" type="int" value="42"/>
    <param name="max_dist_to_first_waypoint" type="double" value="10.0"/>
  </node>

</launch>