<launch>

  <node name="fake_action_server" pkg="free_fleet_client_ros1" 
      type="fake_action_server"/>
  
  <node pkg="tf" type="static_transform_publisher" 
      name="fake_robot_transform" 
      args="0.0 0.0 0.0 0.0 0.0 0.0 1.0 base_footprint map 200"/>

  <node name="fake_client_node" pkg="free_fleet_client_ros1"
      type="free_fleet_client_ros1" output="screen">
    <param name="fleet_name" type="string" value="fake_fleet"/>
    <param name="robot_name" type="string" value="fake_robot"/>
    <param name="dds_domain" type="int" value="42"/>
    <param name="max_dist_to_first_waypoint" type="double" value="10.0"/>
  </node>
  
</launch>
