name: build
on: push
jobs:

  ros1:
    runs-on: ubuntu-20.04
    container:
      image: docker://ros:noetic-ros-base-focal
    steps:
    - name: non-ros-deps
      run: |
        sudo apt update && sudo apt install \
          git wget qt5-default \
          python3-rosdep \
          python3-vcstool \
          python3-colcon-common-extensions \
          -y
    - name: workspace
      run: |
        mkdir -p ros1_ws/src
        cd ros1_ws/src
        git clone https://github.com/osrf/free_fleet
        git clone https://github.com/eclipse-cyclonedds/cyclonedds
    - name: checkout
      uses: actions/checkout@v2
      with:
        path: ros1_ws/src/free_fleet
    - name: ros-deps
      run: |
        cd ros1_ws
        rosdep update
        rosdep install \
          --from-paths src \
          --ignore-src \
          --rosdistro noetic \
          -yr
    - name: build
      shell: bash
      run: |
        cd ros1_ws
        source /opt/ros/noetic/setup.bash
        colcon build \
          --cmake-args -DCMAKE_BUILD_TYPE=RELEASE \
          --packages-up-to \
          free_fleet \
          free_fleet_client \
          free_fleet_rviz_plugins \
          ff_examples_ros1
