name: e2e-tests

on:
  pull_request:
  workflow_dispatch:
  push:
    branches: [main]

defaults:
  run:
    shell: bash

env:
  ZENOH_VERSION: 1.5.0

jobs:
  e2e-tests:
    timeout-minutes: 10
    runs-on: ubuntu-latest
    container:
      image: osrf/ros:${{ matrix.ros_distribution }}-desktop
    strategy:
      matrix:
        ros_distribution: [jazzy]

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install docker-compose
        run: |
          sudo apt update && sudo apt install docker-compose -y

      - name: Start test fixture containers
        env:
          ROS_DISTRO: ${{ matrix.ros_distribution }}
          ZENOH_VERSION: ${{ env.ZENOH_VERSION }}
        run: docker-compose -f ".github/docker/integration-tests/nav2-docker-compose.yaml" up -d --build

      - name: Setup
        run: |
          apt update
          apt install -y ros-${{ matrix.ros_distribution }}-rmw-cyclonedds-cpp python3-pip
          pip3 install nudged eclipse-zenoh==${{ env.ZENOH_VERSION }} pycdr2 rosbags --break-system-packages
          colcon mixin add default https://raw.githubusercontent.com/colcon/colcon-mixin-repository/master/index.yaml
          colcon mixin update default
          rosdep update
          rosdep install --from-paths . -yir

      # Due to https://github.com/DLu/tf_transformations/issues/15
      - name: install transforms3d
        if: ${{ matrix.ros_distribution != 'jazzy' }}
        run: |
          sudo apt install python3-transforms3d
        shell: bash

      - name: Build
        run: /ros_entrypoint.sh colcon build --packages-up-to free_fleet_examples --event-handlers=console_cohesion+ --mixin release --cmake-args -DNAV2_INTEGRATION_TESTING=ON

      - name: Tests
        env:
          RMW_IMPLEMENTATION: rmw_cyclonedds_cpp
          ROS_DOMAIN_ID: 0
        run: . ./install/setup.bash && cd free_fleet_examples/tests/e2e/ && python3 -m unittest

      - name: Stop test fixture containers
        if: always()
        run: docker-compose -f ".github/docker/integration-tests/nav2-docker-compose.yaml" down
